[core]
  excludesfile = ~/.gitconfig.d/excludes
  editor = vim

  # Give group access to everything.  Allows building on VMs.
  sharedRepository = group

[color]
  diff = auto
  status = auto
  branch = auto

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold reverse
  newNormal = green bold
  newHighlight = green bold reverse

[credential]
  helper = osxkeychain

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[diff]
  compactionHeuristic = true

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge]
  log = true

[push]
  default = current

[user]
  name = George Ogata
  email = george.ogata@gmail.com
