/[^.]*
*~
/.*-history
/.*_history
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bashrc-site
/.cups
/.emacs.d
/.fontconfig
/.ghc
/.gnupg
/.lesshst
/.npm
/.rbx_debug
/.rdebug_hist
/.redis
/.rubinius_last_error
/.ruby_inline
/.rvm
/.sbt
/.serverauth.*
/.viminfo
