/[^.]*
*~
/.*-history
/.*_history
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bashrc-site
/.cups
/.emacs.d
/.fontconfig
/.ghc
/.gnupg
/.lein
/.lesshst
/.my.cnf
/.npm
/.npmrc
/.rbx_debug
/.rdebug_hist
/.redis
/.rnd
/.rubinius_last_error
/.ruby_inline
/.rvm
/.sbt
/.serverauth.*
/.ssh
/.viminfo
