[core]
        excludesfile = ~/.gitconfig.d/excludes
        editor = vim

        # Give group access to everything.  Allows building on VMs.
        sharedRepository = group

[user]
        name = George Ogata
        email = george.ogata@gmail.com
[color]
        diff = auto
        status = auto
        branch = auto
[push]
        default = current

[merge]
        log = true
[credential]
	helper = osxkeychain
